body{
    background:black;
    color: white;
    margin: 0px;
    font-family: "Rubik Wet Paint", system-ui;
    margin-bottom: 100px;

}

.chamada{
    background:purple;
    margin-top: 80px;
    margin-bottom: 80px;
    display: flex;
    justify-content: center;
}
header{
    color: black;
    font-size: 40px;
}